<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
  </head>
  <body>
    <main>
      <form
        onsubmit="localStorage.setItem('username', document.getElementById('username').value)"
        action="/"
        method="GET"
      >
        <input id="username" type="text" name="title" />
        <button type="submit">login</button>
      </form>
    </main>
  </body>
</html>
